// Specific CSS for your home-page
.container-landing-page{
  display: flex;
  justify-content: space-between;
 }

.link-left{
  margin-right: -60px;
  margin-left: 60px;

}

.link-right{
  margin-left: 250px;
}
