.show-main-container {
    display: flex;
    justify-content: space-around;
    background-color: #D0D0D0;
    min-height: 90vh;
}

.show-container {
    // margin: 15px auto auto auto;
    padding-top: 40px;
    margin-top: 15px;
    width: auto;
    display: inline-block;
}

.show-content {
    display: flex;
    flex-wrap: wrap;
    background-color: #333333;
    background: linear-gradient(25deg, #333333, grey);
    justify-content: center;
    margin: none;
    min-width: 760px;
    max-width: 760px;
    margin: 0 auto;
    padding: 20px 15px;
    min-height: 90%;
    max-height: 90%;


}

.image-info {
    position: relative;
}

#book-button {
    background-color: #A01170;
    color: white;
    border: 2px solid white;
    font-family: 'Raleway', sans-serif;
    display: inline-flex;
    height: 40px;
    width: 150px;
    margin: 20px 20px 40px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:hover {
        text-decoration: none;
        background-color: #851961;
        color: white;
        transition-duration: 0.5s
    }
}

.other-button {
    font-family: 'Raleway', sans-serif;
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #A01170;
    margin: 20px 20px 20px 20px;
    color: #A01170;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:hover {
        background-color: white;
        text-decoration: none;
        color: #A01170;
        transition-duration: 0.1s
    }

}


.show-content h1{
  text-align: center;
  text-transform: uppercase;
  color: white;


}

.show-content h2 {
    color: white;
}

p {
    color: white;
}

body {
    background-color: #D0D0D0;
}



#image-show {
    padding: 0;
    height: 500px;
    width: 100%;
    overflow: hidden;
    border-style: solid;
    border-color: #A01170;
    display: flex;
    justify-content: center;
    align-content: center;
    img {
      object-fit: cover;
      object-position: 50% 50%;
      max-height: 500px
    }
}

#image-info {
    width: 100%;
    text-align: center;
}

body {
    display: block;
    width: 100%;
}

#book-button {
    padding: 0px 70px;
    margin-top: 60px;
    text-decoration: none;
}

#mask-name {
    margin-top: 15%;
    text-align: left;
}

#mask-price {
    margin-top: 10px;
    text-align: center;

}

#mask-price h2 {
    font-weight: bold;

}

#mask-description {
    font-size: 20px;
    margin-top: 15px;

}

#mask-category {
    margin-top: 25px;
    font-size: 17px;
}


#show-buttons {
    display: flex;
    justify-content: space-around;

}


.weird-button {
    text-decoration: none;
    color: #A01170;
    margin: 10px;

    &:hover {
        background-color: white;
        text-decoration: none;
        color: #A01170;
        transition-duration: 0.5s
    }
}

.weird-book {
    text-decoration: none;
    color: white;
    background-color: #A01170;

    &:hover {
        text-decoration: none;
        background-color: #851961;
        color: white;
        transition-duration: 0.5s
    }

}

.action-list {
    padding-left: 0px;
    display: flex;
    list-style: none;
    justify-content: center;


}
