<div class="container-mask m-15">
  <div class="add-form">
  <h2 class="pt-15">Add a mask:</h2>
    <%= render 'form' %>
    <div class="back-index-button">
      <%= link_to 'See all masks', masks_path, class: "button" %>
    </div>
  </div>
</div>
