<hr>
<div class="content_options ">
    <div class="container ">
        <div class="cards d-flex justify-content-around ">
            <div class="card border-0">
                <div class="card-body rounded-lg">
                    <h2 class="card-title">Dominator</h2>
                    <div class="bottom-text">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="button-5" id="button-5">
                        <div id="translate"></div>
                            <a href="#"><strong>Go somewhere</strong></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-body rounded-lg">
                    <h2 class="card-title">Slave</h2>
                    <div class="bottom-text">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="button-5" id="button-5">
                        <div id="translate"></div>
                            <a href="#"><strong>Go somewhere</strong></a>
                        </div>
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
