<div class="content_options">
    <div class="container">
        <div class="cards d-flex justify-content-around row">
            <div class="card border-0">
                <div class="card-body rounded-lg" id="leftcard">
                    <h2 class="card-title">Find Mask</h2>
                    <div class="bottom-text">
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <div class="button-5" id="button-5">
                            <div id="translate"></div>
                            <a href="#"><strong>
                                    <%= link_to 'Find', '/search' %>
                                </strong></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-body rounded-lg" id="rightcard">
                    <h2 class="card-title">Post Mask</h2>
                    <div class="bottom-text">
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <div class="button-5" id="button-5">
                            <div id="translate"></div>
                            <a href="#"><strong>
                                    <%= link_to 'Post', '' %>
                                </strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div></div>

