<div>
    <div class="home-banner">
        <p>
            <span id="banner-typed-text"></span>
        </p>
        <div class="landing-page-row">
            <div class="landing-page-options">
                <div class="container-landing-page">
                    <%= link_to 'Find A Mask', '/search', class:"button-landing-page"%>
                    <%= link_to 'Post Your Mask', '/masks/new', class:"button-landing-page"%>
                </div>
            </div>
        </div>
    </div>
    <%= render "shared/content_options" %>
</div>
