<div class="home-banner">
  <p>
  <span id="banner-typed-text"></span>
  </p>
</div>

<<<<<<< HEAD


=======
<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 50 %>
    </div>
  </div>
</div> -->
>>>>>>> 702a1677accfdf31c2359b2d4bf2a86eaa816e4b
