<div>
    <div class="home-banner">
        <p>
            <span id="banner-typed-text"></span>
        </p>
        <div class="landing-page-row">
            <div class="landing-page-options">
                <div class="container-landing-page">
                <!--   <div class="row"></div> -->
                    <a href="#" class="button-landing-page">Find A Mask</a>
                    <a href="#" class="button-landing-page">Post Your Mask</a>
                </div>
            </div>
        </div>
    </div>
    <%= render "shared/content_options" %>
</div>
