<div class="container">
    <hr>
    <h1>What type of mask are you looking for?</h1>
    <form>
        <div class="form-group">
            <!-- <label for="exampleInputEmail1">Search</label> -->
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr>
    <br>
    <h2>Featured Categories</h2>
</div>
