<div class="container" id="search">
    <br>
    <br>
    <h1>What type of mask are you looking for?</h1>
    <form>
        <div class="form-group text-center">
            <!-- <label for="exampleInputEmail1">Search</label> -->
            <input type="email" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <hr>
    <h2>Featured Categories</h2>
    <br>
    <section class="featured-row">
        <ul class="featered-categories">
            <li class="card featcat">Category 1</li>
            <li class="card featered-categories">Category 2</li>
            <li class="card featered-categories">Category 3</li>
        </ul>
    </section>
    <br><br><br><br>
</div>
