.home-banner {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.2), rgba(0,0,0,0.4)),url('https://images.unsplash.com/photo-1456725203480-0be828fcd7ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  position: relative;
}

#banner-typed-text {
  font-size: 30px;
}
