.button-landing-page {
    font-family: 'Raleway', sans-serif;
    display: inline-flex;
    height: 40px;
    width: 160px;
    border: 2px solid #fff;
    margin: 25px 100px 5px 25px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.5s;

    &:hover{
      font-size: .8em;
      font-weight: bold;
      background-color: #fff;
      text-decoration: none;
      color: #A01170;
      }
}
