.button {
    font-family: 'Raleway', sans-serif;
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #A01170;
    margin: 20px 20px 20px 20px;
    color: #A01170;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;

    &:hover{
        background-color:white;
        text-decoration: none;
        color: #A01170;
        transition-duration: 0.5s
      }


}
