.content_options {
    background: linear-gradient(rgba(76, 23, 35, 0.8), rgba(0, 0, 0, 0.5)), url(qbkls.png);
    height: 100%;
}

.container {
    min-height: 100%;
    box-shadow: 0px 30px 30px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.card {
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}

.card h2 {
    font-size: 35px;
    color: white;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.card p {
    font-size: 15px;
    color: white;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

#leftcard.card-body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(fetish-bunny-half-mask.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    color: white;
    height: 550px;
    width: 300px;
    box-shadow: 0px 0px 1px 2px #37393C;
    transition: all .3s ease-Out;
    display: flex;
    justify-content: center;
}

#leftcard.card-body:hover {
    background: linear-gradient(rgba(169, 115, 114, 0.5), rgba(0, 0, 0, 0.5)), url(fetish-bunny-half-mask.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    color: white;
    height: 550px;
    width: 300px;
    box-shadow: 0px 0px 10px 5px;
    opacity: 0.9;
}
#rightcard.card-body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(fetish-mask2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    color: white;
    height: 550px;
    width: 300px;
    box-shadow: 0px 0px 1px 2px #37393C;
    transition: all .3s ease-Out;
    display: flex;
    justify-content: center;
}

#rightcard.card-body:hover {
    background: linear-gradient(rgba(169, 115, 114, 0.5), rgba(0, 0, 0, 0.5)), url(fetish-mask2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    color: white;
    height: 550px;
    width: 300px;
    box-shadow: 0px 0px 10px 5px;
    opacity: 0.9;
}



.cards {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    padding: 25px;
    height: 100%;

}


.bottom-text {
    position: absolute;
    top: 85%;
    text-align: center;
    // display: flex;
    // align-items: center;
}


.button-5 {
    font-family: 'Raleway', sans-serif;
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;


}

a {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
}


/* Fifth Button */

#button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-5 a {
    position: relative;
    transition: all .45s ease-Out;
}

#translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: #A97372;
    position: absolute;
    transition: all .3s ease-Out;
}

.card-body:hover #button-5 #translate {
    left: 0;

}

.card-body:hover #button-5 a {
    color: white;

}


.card-body #button-5 a {
    color: white;
}

.card-body:hover #button-5 {
    // color: whie;
    border: 2px solid #DE5887;
}

/*Media Queries*/


/*Smallest device*/

@media (min-width: 100px) and (max-width: 575px) {
    .cards {
        grid-template-columns: 1fr;
    }

}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 1200px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}
