.form-container {
  padding: 60px;
}

.form-login {
  height: 90vh;
  padding: 20% 30% 30% 30%;
  background-color: #fec5bb;
}

.form-login a {
  text-decoration: none;
  color: #a01170;
}

.form-login .login-button {
  margin-bottom: 1.2rem;
  background: #a01170;
  color: #fff;
}

.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: #a01170 !important;
}

.form-login h2 {
  color: #cd80fa;
}
