.form-container {
  padding: 60px;
}

.form-login {
  height: 90vh;
  padding: 20% 30% 30% 30%;
  background-color: #fec5bb;
}

.form-login a {
  text-decoration: none;
  color: crimson;
}

.form-login .login-button {
  margin-bottom: 1.2rem;
  background: pink;
  color: #fff;
}

.form-login a {
  text-decoration: none;
  color: crimson;
}

.form-login .login-button {
  margin-bottom: 1.2rem;
  background: pink;
  color: #fff;
}
