
.navbar-lewagon {
  display: flex;
  justify-content: space-between!important;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-grey {
  background-color: #36454F;
}

.avatar {
  border: 2px solid #A01170;
}
